Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/AnimStarterPack/Walk_Rt_Rifle_Ironsights.uasset
Content/AnimStarterPack/Walk_Lt_Rifle_Ironsights.uasset
Content/AnimStarterPack/Walk_Fwd_Rifle_Ironsights.uasset
Content/AnimStarterPack/Walk_Bwd_Rifle_Ironsights.uasset
Content/AnimStarterPack/UE4ASP_HeroTPP_AnimBlueprint.uasset
Content/AnimStarterPack/Ue4ASP_Character.uasset
Content/AnimStarterPack/UE4_Mannequin/Textures/UE4Man_Logo_N.uasset
Content/AnimStarterPack/UE4_Mannequin/Textures/UE4_Mannequin_occlusion_Mobile.uasset
Content/AnimStarterPack/UE4_Mannequin/Textures/UE4_Mannequin_MAT_MASKA.uasset
Content/AnimStarterPack/UE4_Mannequin/Textures/UE4_Mannequin__normals.uasset
Content/AnimStarterPack/UE4_Mannequin/Textures/UE4_LOGO_CARD.uasset
Content/AnimStarterPack/UE4_Mannequin/Mesh/UE4_Mannequin_Skeleton.uasset
Content/AnimStarterPack/UE4_Mannequin/Mesh/SK_Mannequin_PhysicsAsset.uasset
Content/AnimStarterPack/UE4_Mannequin/Mesh/SK_Mannequin.uasset
Content/AnimStarterPack/UE4_Mannequin/Materials/MaterialLayers/T_ML_Rubber_Blue_01_N.uasset
Content/AnimStarterPack/UE4_Mannequin/Materials/MaterialLayers/T_ML_Rubber_Blue_01_D.uasset
Content/AnimStarterPack/UE4_Mannequin/Materials/MaterialLayers/T_ML_Aluminum01_N.uasset
Content/AnimStarterPack/UE4_Mannequin/Materials/MaterialLayers/T_ML_Aluminum01.uasset
Content/AnimStarterPack/UE4_Mannequin/Materials/MaterialLayers/ML_SoftMetal_UE4.uasset
Content/AnimStarterPack/UE4_Mannequin/Materials/MaterialLayers/ML_Plastic_Shiny_Beige_LOGO.uasset
Content/AnimStarterPack/UE4_Mannequin/Materials/MaterialLayers/ML_Plastic_Shiny_Beige.uasset
Content/AnimStarterPack/UE4_Mannequin/Materials/MaterialLayers/ML_GlossyBlack_Latex_UE4.uasset
Content/AnimStarterPack/UE4_Mannequin/Materials/M_UE4Man_ChestLogo.uasset
Content/AnimStarterPack/UE4_Mannequin/Materials/M_UE4Man_Body.uasset
Content/AnimStarterPack/Stand_To_Prone.uasset
Content/AnimStarterPack/Stand_to_Crouch_Rifle_Ironsights.uasset
Content/AnimStarterPack/Stand_to_Crouch_Rifle_Hip.uasset
Content/AnimStarterPack/Sprint_Fwd_Rifle.uasset
Content/AnimStarterPack/Showcase.umap
Content/AnimStarterPack/Reload_Shotgun_Ironsights.uasset
Content/AnimStarterPack/Reload_Shotgun_Hip.uasset
Content/AnimStarterPack/Reload_Rifle_Ironsights.uasset
Content/AnimStarterPack/Reload_Rifle_Hip.uasset
Content/AnimStarterPack/Reload_Pistol.uasset
Content/AnimStarterPack/Prone_To_Stand.uasset
Content/AnimStarterPack/Prone_Reload_Shotgun.uasset
Content/AnimStarterPack/Prone_Reload_Rifle.uasset
Content/AnimStarterPack/Prone_Idle.uasset
Content/AnimStarterPack/Prone_Fire_2.uasset
Content/AnimStarterPack/Prone_Fire_1.uasset
Content/AnimStarterPack/Prone_Death_2.uasset
Content/AnimStarterPack/Prone_Death_1.uasset
Content/AnimStarterPack/Jump_From_Stand_Ironsights.uasset
Content/AnimStarterPack/Jump_From_Stand.uasset
Content/AnimStarterPack/Jump_From_Jog.uasset
Content/AnimStarterPack/Jog_Rt_Rifle.uasset
Content/AnimStarterPack/Jog_Lt_Rifle.uasset
Content/AnimStarterPack/Jog_Fwd_Rifle.uasset
Content/AnimStarterPack/Jog_Bwd_Rifle.uasset
Content/AnimStarterPack/Idle_Rifle_Ironsights.uasset
Content/AnimStarterPack/Idle_Rifle_Hip_Break2.uasset
Content/AnimStarterPack/Idle_Rifle_Hip_Break1.uasset
Content/AnimStarterPack/Idle_Rifle_Hip.uasset
Content/AnimStarterPack/Idle_Pistol.uasset
Content/AnimStarterPack/Hit_React_4.uasset
Content/AnimStarterPack/Hit_React_3.uasset
Content/AnimStarterPack/Hit_React_2.uasset
Content/AnimStarterPack/Hit_React_1.uasset
Content/AnimStarterPack/Fire_Shotgun_Ironsights.uasset
Content/AnimStarterPack/Fire_Shotgun_Hip.uasset
Content/AnimStarterPack/Fire_Rifle_Ironsights.uasset
Content/AnimStarterPack/Fire_Rifle_Hip.uasset
Content/AnimStarterPack/Equip_Rifle_Standing.uasset
Content/AnimStarterPack/Equip_Pistol_Standing.uasset
Content/AnimStarterPack/Death_Ironsights_2.uasset
Content/AnimStarterPack/Death_Ironsights_1.uasset
Content/AnimStarterPack/Death_3.uasset
Content/AnimStarterPack/Death_2.uasset
Content/AnimStarterPack/Death_1.uasset
Content/AnimStarterPack/Crouch_Walk_Rt_Rifle_Ironsights.uasset
Content/AnimStarterPack/Crouch_Walk_Rt_Rifle_Hip.uasset
Content/AnimStarterPack/Crouch_Walk_Lt_Rifle_Ironsights.uasset
Content/AnimStarterPack/Crouch_Walk_Lt_Rifle_Hip.uasset
Content/AnimStarterPack/Crouch_Walk_Fwd_Rifle_Ironsights.uasset
Content/AnimStarterPack/Crouch_Walk_Fwd_Rifle_Hip.uasset
Content/AnimStarterPack/Crouch_Walk_Bwd_Rifle_Ironsights.uasset
Content/AnimStarterPack/Crouch_Walk_Bwd_Rifle_Hip.uasset
Content/AnimStarterPack/Crouch_to_Stand_Rifle_Ironsights.uasset
Content/AnimStarterPack/Crouch_to_Stand_Rifle_Hip.uasset
Content/AnimStarterPack/Crouch_Idle_Rifle_Ironsights.uasset
Content/AnimStarterPack/Crouch_Idle_Rifle_Hip.uasset
Content/AnimStarterPack/BS_Jog.uasset
Content/AnimStarterPack/BS_CrouchWalk.uasset
Content/AnimStarterPack/Aim_Space_Ironsights.uasset
Content/AnimStarterPack/Aim_Space_Hip.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Equip.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Grenade.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Grenade_Montage.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Holster.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Idle01.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Idle02.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Isight_Idle01.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Isight_Shoot01.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Isight_Shoot01_Montage.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Isight_Shoot02.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Isight_Shoot02_Montage.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Isight_Walk_FWD.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Melee.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Melee_Montage.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Reload.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Reload_Empty.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Reload_Empty_Montage.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Reload_Montage.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Shoot01.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Shoot01_Montage.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Shoot02.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Shoot02_Montage.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Sprint_FWD.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Arms_Rifle_Walk_FWD.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Rifle_Reload.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Rifle_Reload_Empty.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Rifle_Reload_Empty_Montage.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Rifle_Reload_Montage.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Rifle_Shoot01.uasset
Content/FPS_Assault_Pack/Animations/Rifle/A_Rifle_Shoot01_Montage.uasset
Content/FPS_Assault_Pack/Animations/Rifle/BP_Rifle_Arms_AnimBP.uasset
Content/FPS_Assault_Pack/Animations/Rifle/BP_Rifle_Skeleton_AnimBP.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Bolt_Check.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Bolt_Check_Montage.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Equip.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Grenade.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Grenade_Montage.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Holster.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Idle01.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Idle02.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Isight_Idle01.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Isight_Shoot01.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Isight_Shoot01_Montage.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Isight_Walk_FWD.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Melee.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Melee_Montage.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Reload.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Reload_Empty.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Reload_Empty_Montage.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Reload_Montage.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Shoot01.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Shoot01_Montage.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Shoot02.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Shoot02_Montage.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Sprint_FWD.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_Arms_RU74_Walk_FWD.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_RU74_Reload.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_RU74_Reload_Empty.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_RU74_Reload_Empty_Montage.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_RU74_Reload_Montage.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_RU74_Shoot01.uasset
Content/FPS_Assault_Pack/Animations/RU74/A_RU74_Shoot01_Montage.uasset
Content/FPS_Assault_Pack/Animations/RU74/BP_Arms_RU74_AnimBP.uasset
Content/FPS_Assault_Pack/Animations/RU74/BP_RU74_AnimBP.uasset
Content/FPS_Assault_Pack/Blueprints/BP_FPS_GameMode.uasset
Content/FPS_Assault_Pack/Blueprints/BP_FPS_HUD.uasset
Content/FPS_Assault_Pack/Blueprints/Rifle/BP_Rifle_Character.uasset
Content/FPS_Assault_Pack/Blueprints/RU74/BP_RU74_Character.uasset
Content/FPS_Assault_Pack/FPS_Arms/Materials/Arms/M_Arms.uasset
Content/FPS_Assault_Pack/FPS_Arms/Materials/Arms/M_Arms_Bloody.uasset
Content/FPS_Assault_Pack/FPS_Arms/Materials/Arms/M_Arms_Dark.uasset
Content/FPS_Assault_Pack/FPS_Arms/Meshes/Arms/SK_Custom_Arms.uasset
Content/FPS_Assault_Pack/FPS_Arms/Meshes/Arms/SK_Custom_Arms_Skeleton.uasset
Content/FPS_Assault_Pack/FPS_Arms/Textures/Arms/T_Arms_ALB.uasset
Content/FPS_Assault_Pack/FPS_Arms/Textures/Arms/T_Arms_Bloody_ALB.uasset
Content/FPS_Assault_Pack/FPS_Arms/Textures/Arms/T_Arms_Bloody_M_MSK.uasset
Content/FPS_Assault_Pack/FPS_Arms/Textures/Arms/T_Arms_Bloody_NRM.uasset
Content/FPS_Assault_Pack/FPS_Arms/Textures/Arms/T_Arms_Dark_ALB.uasset
Content/FPS_Assault_Pack/FPS_Arms/Textures/Arms/T_Arms_M_MSK.uasset
Content/FPS_Assault_Pack/FPS_Arms/Textures/Arms/T_Arms_NRM.uasset
Content/FPS_Assault_Pack/Maps/ExampleMap.umap
Content/FPS_Assault_Pack/Maps/ExampleMap_BuiltData.uasset
Content/FPS_Assault_Pack/Maps/Overview.umap
Content/FPS_Assault_Pack/Maps/Overview_BuiltData.uasset
Content/FPS_Assault_Pack/Materials/Ammunition/M_762x39.uasset
Content/FPS_Assault_Pack/Materials/Rifle/M_Rifle.uasset
Content/FPS_Assault_Pack/Materials/Rifle/M_Rifle_Carry.uasset
Content/FPS_Assault_Pack/Materials/Rifle/M_Rifle_Furniture.uasset
Content/FPS_Assault_Pack/Materials/RU74/M_RU74_Body.uasset
Content/FPS_Assault_Pack/Materials/RU74/M_RU74_Mag.uasset
Content/FPS_Assault_Pack/Materials/RU74/M_RU74_Master.uasset
Content/FPS_Assault_Pack/Materials/RU74/M_RU74_Stock.uasset
Content/FPS_Assault_Pack/Meshes/Ammunition/SM_556x45_Empty.uasset
Content/FPS_Assault_Pack/Meshes/Ammunition/SM_762x39_Empty.uasset
Content/FPS_Assault_Pack/Meshes/Rifle/SK_Rifle.uasset
Content/FPS_Assault_Pack/Meshes/Rifle/SK_Rifle_NoAddons.uasset
Content/FPS_Assault_Pack/Meshes/Rifle/SK_Rifle_PhysicsAsset.uasset
Content/FPS_Assault_Pack/Meshes/Rifle/SK_Rifle_Skeleton.uasset
Content/FPS_Assault_Pack/Meshes/Rifle/SM_Rifle_CarryHandle.uasset
Content/FPS_Assault_Pack/Meshes/Rifle/SM_Rifle_Muzzle.uasset
Content/FPS_Assault_Pack/Meshes/RU74/SK_RU74.uasset
Content/FPS_Assault_Pack/Meshes/RU74/SK_RU74_NoAddons.uasset
Content/FPS_Assault_Pack/Meshes/RU74/SK_RU74_Physics.uasset
Content/FPS_Assault_Pack/Meshes/RU74/SK_RU74_Skeleton.uasset
Content/FPS_Assault_Pack/Meshes/RU74/SM_RU74_Muzzle.uasset
Content/FPS_Assault_Pack/Particles/Emitters/AR74/P_RU74_Muzzleflash.uasset
Content/FPS_Assault_Pack/Particles/Emitters/AR74/P_RU74_ShellEject.uasset
Content/FPS_Assault_Pack/Particles/Emitters/Rifle/P_Rifle_Muzzleflash.uasset
Content/FPS_Assault_Pack/Particles/Emitters/Rifle/P_Rifle_ShellEject.uasset
Content/FPS_Assault_Pack/Particles/Materials/M_Muzzleflash_01.uasset
Content/FPS_Assault_Pack/Particles/Materials/M_Muzzleflash_MASTER.uasset
Content/FPS_Assault_Pack/Particles/Materials/M_Smoke_FlowMap_01.uasset
Content/FPS_Assault_Pack/Particles/Materials/M_Smoke_FlowMap_MASTER.uasset
Content/FPS_Assault_Pack/Particles/Materials/M_Smoke_MASTER.uasset
Content/FPS_Assault_Pack/Particles/Materials/M_Spark.uasset
Content/FPS_Assault_Pack/Particles/Textures/T_CleanSmoke_ALB.uasset
Content/FPS_Assault_Pack/Particles/Textures/T_Dense_FMP.uasset
Content/FPS_Assault_Pack/Particles/Textures/T_Detailed_and_Dense_FMP.uasset
Content/FPS_Assault_Pack/Particles/Textures/T_Detailed_FMP.uasset
Content/FPS_Assault_Pack/Particles/Textures/T_Muzzle_Warp_FMP.uasset
Content/FPS_Assault_Pack/Particles/Textures/T_Muzzleflash_01_ALB.uasset
Content/FPS_Assault_Pack/Particles/Textures/T_Smoke_SubUV_2x2_ALB.uasset
Content/FPS_Assault_Pack/Particles/Textures/T_Wobbly_FMP.uasset
Content/FPS_Assault_Pack/Textures/Ammunition/T_762x39_ALB.uasset
Content/FPS_Assault_Pack/Textures/Ammunition/T_762x39_M_MSK.uasset
Content/FPS_Assault_Pack/Textures/Ammunition/T_762x39_NRM.uasset
Content/FPS_Assault_Pack/Textures/Rifle/T_Rifle_ALB.uasset
Content/FPS_Assault_Pack/Textures/Rifle/T_Rifle_Carry_ALB.uasset
Content/FPS_Assault_Pack/Textures/Rifle/T_Rifle_Carry_M_MSK.uasset
Content/FPS_Assault_Pack/Textures/Rifle/T_Rifle_Carry_NRM.uasset
Content/FPS_Assault_Pack/Textures/Rifle/T_Rifle_Furniture_ALB.uasset
Content/FPS_Assault_Pack/Textures/Rifle/T_Rifle_Furniture_M_MSK.uasset
Content/FPS_Assault_Pack/Textures/Rifle/T_Rifle_Furniture_NRM.uasset
Content/FPS_Assault_Pack/Textures/Rifle/T_Rifle_M_MSK.uasset
Content/FPS_Assault_Pack/Textures/Rifle/T_Rifle_NRM.uasset
Content/FPS_Assault_Pack/Textures/RU74/T_RU74_Body_ALB.uasset
Content/FPS_Assault_Pack/Textures/RU74/T_RU74_Body_M_MSK.uasset
Content/FPS_Assault_Pack/Textures/RU74/T_RU74_Body_NRM.uasset
Content/FPS_Assault_Pack/Textures/RU74/T_RU74_Mag_ALB.uasset
Content/FPS_Assault_Pack/Textures/RU74/T_RU74_Mag_M_MSK.uasset
Content/FPS_Assault_Pack/Textures/RU74/T_RU74_Mag_NRM.uasset
Content/FPS_Assault_Pack/Textures/RU74/T_RU74_Stock_ALB.uasset
Content/FPS_Assault_Pack/Textures/RU74/T_RU74_Stock_M_MSK.uasset
Content/FPS_Assault_Pack/Textures/RU74/T_RU74_Stock_NRM.uasset
